:root {
  --color-white: #f3f3f3;
  --color-black: color: #333;
  --color-background: #eee;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
figure {
  margin: 0;
}

img {
  display: inline-block;
    max-width: 100%;
    height: auto;
}



main {
  background-color: var(--color-background);
  text-align: center;
  border-radius: 5px;
  margin: 10px 30px;
  padding: 40px 20px;
}

.bold {
  font-weight: 700;
}

.page-title {
  margin-bottom: 15px;
}

.page-subtitle  {
  margin-bottom: 15px;
}



figure {
  background-color: #ffffff;
  padding: 10px;
}

.tribute-info {
  padding-top: 20px;
}

.tribute-info h2 {
  margin-bottom: 15px;
}

.time-list {
  max-width: 550px;
  margin: 10px auto;
}


.time-list > li {
  text-align: left;
  margin-bottom: 16px;
}

blockquote {
  font-style: italic;
  max-width: 550px;
  margin: 10px auto;
}

blockquote p {
  margin-bottom: 20px;
}

blockquote div {
  text-align: left;
}